*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* -----------------header styles------------------------- */
#header-section-1{
    background-image: url(./assets/landing.jpg);
    display: flex;
    flex-direction: column;
    width: 100vw;
}
#logo{
    position: relative;
    left: 480px;
    padding: 30px;
}
#logo>img{
    height: 200px;
}
#welcome-message{
    line-height: 1.2em;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -20px;
}

#header-section-2{
    display: flex;
}
#header-section-2>div{
    width: 405px;
}
#header-section-2 div>h2{
    padding: 40px;
}
#header-section-2>div:nth-child(2){
    background-image: url(./assets/breakfast.jpg);
}
#header-section-2>div:nth-child(3){
    background-image: url(./assets/lunch.jpg);
}
#header-section-2>div:nth-child(4){
    background-image: url(./assets/dinner.jpg);
}
.meal-title>h2{
    text-align: center;
    padding: 20px;
}
/* -----------------End header styles--------------------- */

/* -----------------------main styles--------------------------- */
#main-section-1{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
#main-section-1>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#main-section-1>div>img{
    border: 2px solid black;
    width: 300px;
}
/* -----------------------End main styles--------------------------- */

/* ----------------------Footer styles------------------------------ */
/* ----------------------End Footer styles------------------------------ */