*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* -----------------header styles------------------------- */
#header-section-1{
    background-image: url(./assets/landing.jpg);
    display: flex;
    flex-direction: column;
    width: 100vw;
}
#logo{
    position: relative;
    left: 480px;
    padding: 30px;
}
#logo>img{
    height: 200px;
}
#welcome-message{
    line-height: 1.2em;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -20px;
}

#header-section-2{
    display: flex;
}
#header-section-2>div{
    width: 405px;
}
#header-section-2 div>h2{
    padding: 40px;
}
#header-section-2>div:nth-child(2){
    background-image: url(./assets/breakfast.jpg);
}
#header-section-2>div:nth-child(3){
    background-image: url(./assets/lunch.jpg);
}
#header-section-2>div:nth-child(4){
    background-image: url(./assets/dinner.jpg);
}
.meal-title>h2{
    text-align: center;
    padding: 20px;
}
/* -----------------End header styles--------------------- */

/* -----------------------main styles--------------------------- */
#main-section-1{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
#main-section-1>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#main-section-1>div>img{
    border: 2px solid black;
    width: 300px;
}

#section-2{
    background-image: url(./assets/foodsBg.jpg);
    margin: 70px;
}
#section-2>#background-image{
    margin: 80px;
}
#section-2>#background-image>ul{
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: grey;
    height: 40px;
    align-items: center;
}
#section-2>#background-image>span{
    display: flex;
    justify-content: flex-end;
}
#section-2>#background-image>span>img{
    margin-bottom: 40px;
    padding: 25px;
}
#section-3{
    display: flex;
    margin: 70px;
    padding: 20px;
    box-shadow: 2px 2px 5px grey;
}
#section-3>div{
    margin: 10px;
}
#section-3>div>h2{
    color: #F15A29;
    margin-bottom: 5px;
    text-align: center;
}
#section-3>div>h3,#section-3>div>p{
    text-align: center;
}
#section-3>div>span{
    align-items: center;
}

/* -----------------------End main styles--------------------------- */

/* ----------------------Footer styles------------------------------ */
footer{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
#footer-section-1{
    background-image: url(./assets/subscribe.jpg);
    height: 200px;
}
#footer-section-2{
    background-color: #F15A29;
    height: 200px;
}
footer>#footer-section-1>h2{
    text-align: center;
    color: white;
    margin-top: 40px;
}
footer>#footer-section-1>div{
    color: white;
    margin-left: 500px;
    margin-top: 20px;
}
footer>#footer-section-1>div>span{
    padding: 10px;
}
footer>#footer-section-2{
    text-align: center;
}
footer>#footer-section-2>div{
    margin-top: 20px;
}
/* ----------------------End Footer styles------------------------------ */